.cloudPart1{
  background-image: linear-gradient(to bottom left, darkgrey, #e4f1f5);
  border-radius: 100%;
  /* border: 2px solid black; */
  position: absolute;
  width: 10%;
  height: 4%;
  top: 10%;
  left: 30%;
}

.cloudPart2{
  background-image: linear-gradient(to bottom left, darkgrey, #e4f1f5);
  border-radius: 100%;
  /* border: 2px solid black; */
  position: absolute;
  width: 3%;
  height: 8%;
  top: 5%;
  left: 35%;
}

.cloudPart1:hover {
  background-image: linear-gradient(to bottom left, darkgrey, lightgrey);;
}

.cloudPart2:hover {
  background-image: linear-gradient(to bottom left, darkgrey, lightgrey);;
}
.hideCalendarButton {
  border-color: transparent;
  background-color: transparent;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 535px solid transparent;
  border-bottom: 130px solid lightgrey;
  border-top-left-radius: 56%;
  border-bottom-right-radius: 15%;
  position: absolute;
  right: 20%;
  top: 20%;
  z-index: -1;
}


.hideCalendarButton:hover {
  border-bottom: 130px solid darkgrey;
}

.HabitController {
  width: 243px;
  height: 300px;
  position: absolute;
  right: 6%;
  top: 45%;
  margin-right: 2px;
  border: 2px solid black;
  background-color: #c7846b;
  opacity: .5;
  text-align: center;
  border-radius: 3%;
}
