.calendarReact{
  z-index: 1;
}

.cloudPart1{
  background-image: linear-gradient(to bottom left, darkgrey, #e4f1f5);
  border-radius: 100%;
  /* border: 2px solid black; */
  position: absolute;
  width: 10%;
  height: 4%;
  top: 10%;
  left: 30%;
  cursor: pointer;
}

.cloudPart2{
  background-image: linear-gradient(to bottom left, darkgrey, #e4f1f5);
  border-radius: 100%;
  /* border: 2px solid black; */
  position: absolute;
  width: 3%;
  height: 8%;
  top: 5%;
  left: 35%;
  cursor: pointer;
}

.cloudPart1:hover {
  background-image: linear-gradient(to bottom left, darkgrey, lightgrey);;
}

.cloudPart2:hover {
  background-image: linear-gradient(to bottom left, darkgrey, lightgrey);;
}

.fullBody{
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
}

.hideCalendarButton {
  border-color: transparent;
  background-color: transparent;
  width: 0;
  height: 0;
  border-left: 10vh solid transparent;
  border-right: 60vh solid transparent;
  border-bottom: 20vh solid lightgrey;
  border-top-left-radius: 56%;
  border-bottom-right-radius: 15%;
  position: absolute;
  right: 15%;
  top: 20%;
  cursor: pointer;
  /* z-index: -1; */
}


.hideCalendarButton:hover {
  border-bottom: 20vh solid darkgrey;
}

.hideCalendarDiv:hover {
  border-bottom: 22vh solid darkgrey;
  cursor: pointer;
}

.hideCalendarDiv{
  /* background-image: linear-gradient(to top left, darkgrey, #ebe8e6); */
  z-index: 1;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 70vh 22vh 10vh;
  border-color: transparent transparent lightgrey transparent;
  border-top-left-radius: 126%;
  border-bottom-right-radius: 15%;
  position: absolute;
  left: 80vh;
  bottom: 60vh;
}

.keyHole{
  position: absolute;
  height: 10vh;
  right: 2vh;
  bottom: 2vh;
}

.keyHoleDiv {
  cursor: pointer;
  right: 0;
}

.yearForest{
  z-index: 1;
}
