.keyCards{
  font-size: 3vh;
  opacity: .8;
  position: absolute;
  width: 100vh;
  height: auto;
  bottom: 2vh;
  right: 10vh;
  font-family: monospace;
}

.keys{
  display: flex;
  flex-wrap: nowrap;
}

.input{

}
