.title{
  position: absolute;
  font-family: monospace;
  /* margin-left: 50%; */
  font-size: 32vh;
}

.titleDiv{
  position: absolute;
  /* margin-left: 50%; */
}

.toggleOpenerButton{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10vh 5vh 10vh;
  border-color: transparent transparent rgb(132, 87, 87) transparent;
  border-top-left-radius: 126%;
  border-bottom-right-radius: 15%;
  position: absolute;
  left: 10vh;
  bottom: 10vh;
  z-index: 0;
  cursor: pointer;
}

.welcome{
  font-family: monospace;
  width: 30vh;
  height: auto;
  padding: 5px;
  z-index: 1;
}
